apiVersion: 1

datasources:
  - name: Tempo
    type: tempo
    url: http://tempo:3200
    access: proxy
    isDefault: false
    jsonData:
      httpMethod: POST
      tracesToLogs:
        datasourceUid: null
      serviceMap:
        datasourceUid: null
